In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("californiaDS.csv")
df.columns = ["City", "Population", "Violent Crime", "Murder and Non-negligent Manslaughter", "Rape", "Robbery", "Aggravated Assault", "Property Crime", "Burglary", "Larceny-Theft", "Motor Vehicle Theft", "Arson"]
df.drop(index=df.index[-1], axis=0, inplace=True)
df.replace(",", "", regex = True, inplace = True)
df

,City,Population,Violent Crime,Murder and Non-negligent Manslaughter,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny-Theft,Motor Vehicle Theft,Arson
0,Adelanto,34491,276,1.0,20,42,213,459,136,209,114,14
1,Agoura Hills,20490,21,0.0,6,4,11,306,66,223,17,0
2,Alameda,78907,162,0.0,7,94,61,2579,218,1958,403,29
3,Albany,20083,40,0.0,8,21,11,685,105,534,46,1
4,Alhambra,84837,161,2.0,11,89,59,1749,259,1303,187,8
...,...,...,...,...,...,...,...,...,...,...,...,...
452,Yountville,2988,5,0.0,0,0,5,42,5,36,1,1
453,Yreka,7527,28,0.0,0,1,27,235,34,172,29,0
454,Yuba City,67164,241,3.0,28,52,158,1823,230,1334,259,7
455,Yucaipa,53964,200,3.0,14,31,152,641,172,365,104,0
456,Yucca Valley,21858,160,0.0,9,25,126,292,84,157,51,3

In [2]:
df.dtypes

City                                      object
Population                                object
Violent Crime                             object
Murder and Non-negligent Manslaughter    float64
Rape                                      object
Robbery                                   object
Aggravated Assault                        object
Property Crime                            object
Burglary                                  object
Larceny-Theft                             object
Motor Vehicle Theft                       object
Arson                                     object
dtype: object

In [3]:
typeConversion = {"City": str, "Population": int, "Violent Crime": int, "Murder and Non-negligent Manslaughter": int, "Rape": int, "Robbery": int, "Aggravated Assault": int, "Property Crime": int, "Burglary": int, "Larceny-Theft": int, "Motor Vehicle Theft": int, "Arson": int}
df = df.astype(typeConversion)
df.dtypes

City                                     object
Population                                int32
Violent Crime                             int32
Murder and Non-negligent Manslaughter     int32
Rape                                      int32
Robbery                                   int32
Aggravated Assault                        int32
Property Crime                            int32
Burglary                                  int32
Larceny-Theft                             int32
Motor Vehicle Theft                       int32
Arson                                     int32
dtype: object

In [4]:
df.head()

,City,Population,Violent Crime,Murder and Non-negligent Manslaughter,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny-Theft,Motor Vehicle Theft,Arson
0,Adelanto,34491,276,1,20,42,213,459,136,209,114,14
1,Agoura Hills,20490,21,0,6,4,11,306,66,223,17,0
2,Alameda,78907,162,0,7,94,61,2579,218,1958,403,29
3,Albany,20083,40,0,8,21,11,685,105,534,46,1
4,Alhambra,84837,161,2,11,89,59,1749,259,1303,187,8

In [5]:
crimeRate = df.loc[:, (df.columns != "City") & (df.columns != "Population")].sum(axis="columns")
print(crimeRate)

0      1484
1       654
2      5511
3      1451
4      3828
       ...
452      95
453     526
454    4135
455    1682
456     907
Length: 457, dtype: int64

In [6]:
crimeRate = crimeRate / df["Population"]
print(crimeRate)

0      0.043026
1      0.031918
2      0.069842
3      0.072250
4      0.045122
         ...
452    0.031794
453    0.069882
454    0.061566
455    0.031169
456    0.041495
Length: 457, dtype: float64

In [7]:
crimeRate = crimeRate * 100000
print(crimeRate)

0      4302.571685
1      3191.800878
2      6984.171240
3      7225.016183
4      4512.182185
          ...
452    3179.384203
453    6988.175900
454    6156.571973
455    3116.892743
456    4149.510477
Length: 457, dtype: float64

In [8]:
df2 = pd.read_csv("Report.csv")
df2

,Name,Address,City,Zipcode,Statea
0,Brea Police Dept,1 Civic Center Cir,Brea,92821-5732,CA
1,Scotts Valley Police Dept,1 Civic Center Dr,Scotts Valley,95066-4156,CA
2,Irvine Police Dept-Traffic,1 Civic Center Plz,Irvine,92606-5207,CA
3,Ione Police Dept,1 E Main St,Ione,95640-0000,CA
4,Los Angeles County Sheriff,1 E Regent St # 122,Inglewood,90301-6053,CA
...,...,...,...,...,...
975,Madera County Sheriff's Wrk,PO Box 804,Oakhurst,93644-0804,CA
976,San Anselmo Police Dept,Ri 5 San Anselmo Ave,San Anselmo,94960-0000,CA
977,Imperial County Sheriff's Dept,S Marina Dr,Salton City,92275-0000,CA
978,Barstow Police Substation,Tanger Outlet Mall,Barstow,92311-0000,CA
979,Chester Sub Sta Sheriff,Willow & 1st Ave,Chester,96020-0000,CA

In [9]:
stationCounts = df2["City"].value_counts().to_dict()
print(stationCounts["San Francisco"])

34

In [10]:
sortedCounts = []
weight = 1
for city in df["City"]:
    if city in stationCounts.keys():
        sortedCounts.append(stationCounts[city] + weight)
    else:
        sortedCounts.append(weight)
print(len(sortedCounts))

457

In [11]:
df["Police Station Weight"] = sortedCounts
df[df["City"] == "San Francisco"]

,City,Population,Violent Crime,Murder and Non-negligent Manslaughter,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny-Theft,Motor Vehicle Theft,Arson,Police Station Weight
354,San Francisco,886007,5933,40,324,3055,2514,48780,4644,39887,4249,275,35

In [12]:
safetyScore = round(crimeRate / df["Police Station Weight"]).astype(int)
print(safetyScore)

0      2151
1      1596
2      1746
3      3613
4      2256
       ...
452    1590
453    2329
454    1539
455    1558
456    4150
Length: 457, dtype: int32

In [19]:
sortedScore = sorted(safetyScore)
print(sortedScore)

[136, 186, 209, 225, 245, 340, 354, 432, 521, 541, 590, 593, 658, 665, 674, 684, 690, 702, 704, 705, 710, 711, 712, 736, 740, 769, 777, 809, 809, 829, 835, 839, 843, 852, 861, 861, 868, 870, 876, 881, 885, 907, 911, 911, 918, 919, 919, 921, 945, 947, 964, 978, 978, 980, 980, 999, 1013, 1016, 1019, 1024, 1030, 1035, 1040, 1056, 1061, 1062, 1076, 1081, 1082, 1085, 1087, 1091, 1092, 1093, 1093, 1093, 1093, 1096, 1100, 1100, 1100, 1101, 1109, 1112, 1126, 1159, 1159, 1160, 1166, 1169, 1173, 1183, 1185, 1201, 1205, 1208, 1228, 1229, 1229, 1238, 1238, 1244, 1249, 1263, 1267, 1270, 1273, 1277, 1287, 1295, 1296, 1303, 1305, 1305, 1307, 1308, 1308, 1322, 1325, 1328, 1334, 1335, 1343, 1343, 1347, 1348, 1350, 1352, 1354, 1354, 1356, 1372, 1373, 1373, 1384, 1385, 1393, 1404, 1406, 1407, 1408, 1420, 1423, 1442, 1463, 1471, 1472, 1474, 1484, 1487, 1493, 1500, 1501, 1502, 1510, 1514, 1517, 1526, 1527, 1536, 1539, 1546, 1549, 1553, 1558, 1566, 1567, 1568, 1574, 1575, 1575, 1581, 1582, 1585, 1588, 1589, 1589, 1590, 1590, 1596, 1599, 1606, 1610, 1621, 1621, 1624, 1632, 1632, 1632, 1633, 1640, 1641, 1642, 1643, 1644, 1653, 1655, 1659, 1672, 1673, 1675, 1688, 1689, 1693, 1696, 1698, 1703, 1705, 1714, 1720, 1729, 1729, 1733, 1746, 1746, 1755, 1766, 1771, 1773, 1775, 1776, 1779, 1789, 1795, 1805, 1814, 1825, 1829, 1830, 1830, 1839, 1841, 1852, 1860, 1862, 1874, 1876, 1887, 1894, 1906, 1913, 1915, 1918, 1926, 1953, 1957, 1959, 1961, 1963, 1964, 1970, 1976, 1977, 1982, 1994, 1997, 1999, 2015, 2020, 2022, 2025, 2031, 2046, 2047, 2052, 2054, 2054, 2067, 2087, 2089, 2099, 2101, 2132, 2136, 2137, 2140, 2144, 2144, 2150, 2151, 2154, 2174, 2183, 2200, 2203, 2205, 2209, 2220, 2225, 2230, 2249, 2256, 2259, 2284, 2301, 2323, 2329, 2346, 2356, 2358, 2361, 2373, 2379, 2392, 2395, 2396, 2398, 2406, 2411, 2430, 2433, 2434, 2474, 2482, 2486, 2517, 2518, 2519, 2523, 2527, 2530, 2534, 2546, 2548, 2550, 2553, 2555, 2556, 2559, 2582, 2608, 2618, 2648, 2659, 2660, 2662, 2670, 2676, 2704, 2745, 2748, 2761, 2768, 2788, 2793, 2803, 2803, 2815, 2829, 2846, 2871, 2889, 2897, 2898, 2933, 2940, 3019, 3027, 3038, 3051, 3052, 3097, 3097, 3098, 3103, 3107, 3108, 3110, 3117, 3117, 3128, 3153, 3154, 3163, 3169, 3177, 3178, 3238, 3295, 3299, 3329, 3343, 3345, 3349, 3365, 3388, 3402, 3441, 3450, 3477, 3481, 3508, 3534, 3558, 3607, 3613, 3682, 3695, 3750, 3790, 3848, 3857, 3877, 4026, 4115, 4150, 4153, 4172, 4184, 4192, 4225, 4230, 4243, 4307, 4310, 4336, 4347, 4363, 4399, 4432, 4472, 4484, 4576, 4720, 4726, 4758, 4790, 4834, 4845, 4999, 5058, 5113, 5210, 5235, 5534, 5573, 5629, 5718, 5788, 5878, 6336, 6438, 6473, 6663, 6724, 7283, 7946, 8221, 10435, 11818, 17963, 18210, 21130, 22540, 23413, 918750, 1249254]

In [20]:
import statistics as st

med = st.median(sortedScore)
print(med)

1830

In [14]:
df["Safety Score"] = safetyScore
df.head()

,City,Population,Violent Crime,Murder and Non-negligent Manslaughter,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny-Theft,Motor Vehicle Theft,Arson,Police Station Weight,Safety Score
0,Adelanto,34491,276,1,20,42,213,459,136,209,114,14,2,2151
1,Agoura Hills,20490,21,0,6,4,11,306,66,223,17,0,2,1596
2,Alameda,78907,162,0,7,94,61,2579,218,1958,403,29,4,1746
3,Albany,20083,40,0,8,21,11,685,105,534,46,1,2,3613
4,Alhambra,84837,161,2,11,89,59,1749,259,1303,187,8,2,2256

In [22]:
safetyRating = []
for score in df["Safety Score"]:
    if score in range(0, 1000):
        safetyRating.append("Safe!")
    elif score in range(1000, med + 1):
        safetyRating.append("Low Risk")
    elif score in range(med + 1, 5000):
        safetyRating.append("Risky")
    elif score in range(5000, 10000):
        safetyRating.append("High Risk!")
    elif score in range(10000, 30000):
        safetyRating.append("Very High Risk!!")
    else:
        safetyRating.append("EXTREME RISK! DO NOT BOOK!")

df["Risk Assessment"] = safetyRating
df.head()

,City,Population,Violent Crime,Murder and Non-negligent Manslaughter,Rape,Robbery,Aggravated Assault,Property Crime,Burglary,Larceny-Theft,Motor Vehicle Theft,Arson,Police Station Weight,Safety Score,Risk Assessment
0,Adelanto,34491,276,1,20,42,213,459,136,209,114,14,2,2151,Risky
1,Agoura Hills,20490,21,0,6,4,11,306,66,223,17,0,2,1596,Low Risk
2,Alameda,78907,162,0,7,94,61,2579,218,1958,403,29,4,1746,Low Risk
3,Albany,20083,40,0,8,21,11,685,105,534,46,1,2,3613,Risky
4,Alhambra,84837,161,2,11,89,59,1749,259,1303,187,8,2,2256,Risky

In [36]:
import json

jsonDict = dict(zip(df["City"], df["Risk Assessment"]))
print(jsonDict)

{'Adelanto': 'Risky', 'Agoura Hills': 'Low Risk', 'Alameda': 'Low Risk', 'Albany': 'Risky', 'Alhambra': 'Risky', 'Aliso Viejo': 'Safe!', 'Alturas': 'Safe!', 'American Canyon': 'Risky', 'Anaheim': 'Low Risk', 'Anderson': 'Risky', 'Angels Camp': 'Risky', 'Antioch': 'Risky', 'Apple Valley': 'Low Risk', 'Arcadia': 'Risky', 'Arcata': 'Risky', 'Arroyo Grande': 'Low Risk', 'Artesia': 'Risky', 'Arvin': 'High Risk!', 'Atascadero': 'Low Risk', 'Atherton': 'Low Risk', 'Atwater': 'Risky', 'Auburn': 'Low Risk', 'Avalon': 'Low Risk', 'Avenal': 'Safe!', 'Azusa': 'Risky', 'Bakersfield': 'Low Risk', 'Baldwin Park': 'Low Risk', 'Banning': 'Low Risk', 'Barstow': 'Low Risk', 'Bear Valley': 'Safe!', 'Beaumont': 'Risky', 'Bell': 'Low Risk', 'Bellflower': 'Risky', 'Bell Gardens': 'Risky', 'Belmont': 'Low Risk', 'Belvedere': 'Low Risk', 'Benicia': 'Low Risk', 'Berkeley': 'Risky', 'Beverly Hills': 'Risky', 'Big Bear': 'High Risk!', 'Biggs': 'Low Risk', 'Bishop': 'Risky', 'Blythe': 'Risky', 'Bradbury': 'Risky', 'Brawley': 'Risky', 'Brea': 'Risky', 'Brentwood': 'Risky', 'Brisbane': 'Risky', 'Broadmoor': 'Risky', 'Buellton': 'Low Risk', 'Buena Park': 'Risky', 'Burbank': 'Low Risk', 'Burlingame': 'High Risk!', 'Calabasas': 'Risky', 'Calexico': 'Risky', 'California City': 'Risky', 'Calimesa': 'Risky', 'Calistoga': 'Low Risk', 'Camarillo': 'Safe!', 'Campbell': 'Risky', 'Canyon Lake': 'Low Risk', 'Capitola': 'High Risk!', 'Carlsbad': 'Risky', 'Carmel': 'Risky', 'Carpinteria': 'Low Risk', 'Carson': 'Risky', 'Cathedral City': 'Safe!', 'Central Marin': 'High Risk!', 'Ceres': 'Risky', 'Cerritos': 'Risky', 'Chico': 'Risky', 'Chino': 'Low Risk', 'Chino Hills': 'Low Risk', 'Chowchilla': 'Low Risk', 'Chula Vista': 'Safe!', 'Citrus Heights': 'Risky', 'Claremont': 'Risky', 'Clayton': 'Low Risk', 'Clearlake': 'Risky', 'Cloverdale': 'Low Risk', 'Clovis': 'Risky', 'Coachella': 'Risky', 'Coalinga': 'Low Risk', 'Colma': 'Very High Risk!!', 'Colton': 'Risky', 'Colusa': 'Safe!', 'Commerce': 'Very High Risk!!', 'Compton': 'Risky', 'Concord': 'Risky', 'Corcoran': 'Safe!', 'Corning': 'Risky', 'Corona': 'Risky', 'Coronado': 'Low Risk', 'Costa Mesa': 'Risky', 'Cotati': 'Low Risk', 'Covina': 'Risky', 'Crescent City': 'Risky', 'Cudahy': 'Risky', 'Culver City': 'Risky', 'Cupertino': 'Low Risk', 'Cypress': 'Low Risk', 'Daly City': 'Low Risk', 'Dana Point': 'Low Risk', 'Danville': 'Safe!', 'Davis': 'Risky', 'Delano': 'Risky', 'Del Mar': 'Risky', 'Del Rey Oaks': 'Risky', 'Desert Hot Springs': 'High Risk!', 'Diamond Bar': 'Risky', 'Dinuba': 'Low Risk', 'Dixon': 'Risky', 'Dorris': 'Low Risk', 'Dos Palos': 'Risky', 'Downey': 'Risky', 'Duarte': 'Low Risk', 'Dublin': 'Low Risk', 'Dunsmuir': 'Risky', 'East Palo Alto': 'Low Risk', 'Eastvale': 'Risky', 'El Cajon': 'Low Risk', 'El Centro': 'Low Risk', 'El Cerrito': 'High Risk!', 'Elk Grove': 'Low Risk', 'El Monte': 'Low Risk', 'El Segundo': 'Risky', 'Emeryville': 'Very High Risk!!', 'Encinitas': 'Low Risk', 'Escalon': 'Risky', 'Escondido': 'Low Risk', 'Etna': 'Safe!', 'Eureka': 'Risky', 'Exeter': 'Risky', 'Fairfax': 'Low Risk', 'Fairfield': 'Low Risk', 'Farmersville': 'Risky', 'Ferndale': 'Risky', 'Fillmore': 'Safe!', 'Firebaugh': 'Low Risk', 'Folsom': 'Risky', 'Fontana': 'Low Risk', 'Fort Bragg': 'Risky', 'Fort Jones': 'Very High Risk!!', 'Fortuna': 'Risky', 'Foster City': 'Low Risk', 'Fountain Valley': 'Risky', 'Fowler': 'Risky', 'Fremont': 'Low Risk', 'Fullerton': 'Risky', 'Galt': 'Risky', 'Gardena': 'Risky', 'Garden Grove': 'Risky', 'Gilroy': 'Risky', 'Glendale': 'Low Risk', 'Glendora': 'Risky', 'Goleta': 'Low Risk', 'Gonzales': 'Low Risk', 'Grand Terrace': 'Risky', 'Grass Valley': 'Risky', 'Greenfield': 'Risky', 'Gridley': 'Risky', 'Grover Beach': 'Risky', 'Guadalupe': 'Low Risk', 'Gustine': 'Low Risk', 'Hanford': 'Low Risk', 'Hawaiian Gardens': 'Risky', 'Hawthorne': 'Risky', 'Hayward': 'Risky', 'Healdsburg': 'Low Risk', 'Hemet': 'Low Risk', 'Hercules': 'Low Risk', 'Hermosa Beach': 'Low Risk', 'Hesperia': 'Risky', 'Hidden Hills': 'Risky', 'Highland': 'Risky', 'Hillsborough': 'Safe!', 'Hollister': 'Safe!', 'Holtville': 'Low Risk', 'Hughson': 'Safe!', 'Huntington Beach': 'Low Risk', 'Huntington Park': 'Risky', 'Huron': 'Risky', 'Imperial': 'Safe!', 'Imperial Beach': 'Low Risk', 'Indian Wells': 'Risky', 'Indio': 'Low Risk', 'Industry': 'EXTREME RISK! DO NOT BOOK!', 'Inglewood': 'Low Risk', 'Ione': 'Safe!', 'Irvine': 'Low Risk', 'Irwindale': 'Very High Risk!!', 'Isleton': 'Low Risk', 'Jackson': 'Low Risk', 'Jurupa Valley': 'High Risk!', 'Kensington': 'Safe!', 'Kerman': 'Risky', 'King City': 'Safe!', 'Kingsburg': 'Risky', 'La Canada Flintridge': 'Risky', 'Lafayette': 'Low Risk', 'Laguna Beach': 'Low Risk', 'Laguna Hills': 'Low Risk', 'Laguna Niguel': 'Risky', 'Laguna Woods': 'Low Risk', 'La Habra': 'Risky', 'La Habra Heights': 'Risky', 'Lake Elsinore': 'Risky', 'Lake Forest': 'Low Risk', 'Lakeport': 'Risky', 'Lake Shastina': 'Low Risk', 'Lakewood': 'Risky', 'La Mesa': 'Low Risk', 'La Mirada': 'Risky', 'Lancaster': 'Low Risk', 'La Palma': 'Risky', 'La Puente': 'Risky', 'La Quinta': 'High Risk!', 'La Verne': 'Risky', 'Lawndale': 'Low Risk', 'Lemon Grove': 'Risky', 'Lemoore': 'Risky', 'Lincoln': 'Low Risk', 'Lindsay': 'Risky', 'Livermore': 'Risky', 'Livingston': 'Risky', 'Lodi': 'Risky', 'Loma Linda': 'High Risk!', 'Lomita': 'Low Risk', 'Lompoc': 'Low Risk', 'Long Beach': 'Safe!', 'Los Alamitos': 'Low Risk', 'Los Altos': 'Low Risk', 'Los Altos Hills': 'Low Risk', 'Los Angeles': 'Safe!', 'Los Banos': 'Low Risk', 'Los Gatos': 'Low Risk', 'Lynwood': 'Risky', 'Madera': 'Low Risk', 'Malibu': 'Risky', 'Mammoth Lakes': 'Risky', 'Manhattan Beach': 'Risky', 'Manteca': 'Low Risk', 'Marina': 'Low Risk', 'Martinez': 'Safe!', 'Marysville': 'Risky', 'Maywood': 'Safe!', 'McFarland': 'Risky', 'Mendota': 'Risky', 'Menifee': 'Risky', 'Menlo Park': 'Low Risk', 'Merced': 'Safe!', 'Mill Valley': 'Low Risk', 'Milpitas': 'Risky', 'Mission Viejo': 'Safe!', 'Modesto': 'Safe!', 'Monrovia': 'Low Risk', 'Montague': 'High Risk!', 'Montclair': 'Risky', 'Montebello': 'Risky', 'Monterey': 'Risky', 'Monterey Park': 'Safe!', 'Monte Sereno': 'Safe!', 'Moorpark': 'Safe!', 'Moraga': 'Safe!', 'Moreno Valley': 'Risky', 'Morgan Hill': 'Low Risk', 'Morro Bay': 'Low Risk', 'Mountain View': 'Risky', 'Mount Shasta': 'Risky', 'Murrieta': 'Safe!', 'Napa': 'Low Risk', 'National City': 'Risky', 'Needles': 'Risky', 'Nevada City': 'Low Risk', 'Newark': 'Risky', 'Newman': 'Low Risk', 'Newport Beach': 'Risky', 'Norco': 'Risky', 'Norwalk': 'Low Risk', 'Novato': 'Risky', 'Oakdale': 'Risky', 'Oakland': 'Risky', 'Oakley': 'Safe!', 'Oceanside': 'Risky', 'Ojai': 'Low Risk', 'Ontario': 'Low Risk', 'Orange': 'Low Risk', 'Orange Cove': 'Low Risk', 'Orinda': 'Low Risk', 'Orland': 'Low Risk', 'Oroville': 'Risky', 'Oxnard': 'Safe!', 'Pacifica': 'Low Risk', 'Pacific Grove': 'Low Risk', 'Palmdale': 'Low Risk', 'Palm Desert': 'Risky', 'Palm Springs': 'Risky', 'Palo Alto': 'Risky', 'Palos Verdes Estates': 'Low Risk', 'Paradise': 'Safe!', 'Paramount': 'Risky', 'Parlier': 'Low Risk', 'Pasadena': 'Low Risk', 'Paso Robles': 'Risky', 'Patterson': 'Risky', 'Perris': 'Low Risk', 'Petaluma': 'Low Risk', 'Pico Rivera': 'Risky', 'Piedmont': 'Risky', 'Pinole': 'Risky', 'Pismo Beach': 'Risky', 'Pittsburg': 'Risky', 'Placentia': 'Risky', 'Placerville': 'Risky', 'Pleasant Hill': 'Risky', 'Pleasanton': 'Low Risk', 'Pomona': 'Low Risk', 'Porterville': 'Low Risk', 'Port Hueneme': 'Risky', 'Poway': 'Low Risk', 'Rancho Cordova': 'Risky', 'Rancho Cucamonga': 'Low Risk', 'Rancho Mirage': 'High Risk!', 'Rancho Palos Verdes': 'Low Risk', 'Rancho Santa Margarita': 'Low Risk', 'Red Bluff': 'Risky', 'Redlands': 'Low Risk', 'Redondo Beach': 'Safe!', 'Redwood City': 'Safe!', 'Reedley': 'Safe!', 'Rialto': 'Risky', 'Richmond': 'Risky', 'Ridgecrest': 'Low Risk', 'Rio Dell': 'Risky', 'Rio Vista': 'Low Risk', 'Ripon': 'Low Risk', 'Riverbank': 'Low Risk', 'Riverside': 'Safe!', 'Rocklin': 'Low Risk', 'Rohnert Park': 'Risky', 'Rolling Hills': 'Safe!', 'Rolling Hills Estates': 'Risky', 'Rosemead': 'Risky', 'Roseville': 'Low Risk', 'Ross': 'Low Risk', 'Sacramento': 'Low Risk', 'Salinas': 'Safe!', 'San Bernardino': 'Safe!', 'San Bruno': 'Risky', 'San Clemente': 'Low Risk', 'Sand City': 'Very High Risk!!', 'San Diego': 'Safe!', 'San Dimas': 'Risky', 'San Fernando': 'Safe!', 'San Francisco': 'Safe!', 'San Gabriel': 'Risky', 'Sanger': 'Low Risk', 'San Jacinto': 'Risky', 'San Jose': 'Safe!', 'San Juan Capistrano': 'Risky', 'San Leandro': 'High Risk!', 'San Luis Obispo': 'Low Risk', 'San Marcos': 'Safe!', 'San Marino': 'Risky', 'San Mateo': 'Risky', 'San Pablo': 'Risky', 'San Rafael': 'Low Risk', 'San Ramon': 'Low Risk', 'Santa Ana': 'Low Risk', 'Santa Barbara': 'Low Risk', 'Santa Clara': 'Risky', 'Santa Clarita': 'Risky', 'Santa Cruz': 'Low Risk', 'Santa Fe Springs': 'High Risk!', 'Santa Monica': 'Risky', 'Santa Paula': 'Low Risk', 'Santa Rosa': 'Low Risk', 'Santee': 'Low Risk', 'Saratoga': 'Safe!', 'Sausalito': 'Risky', 'Scotts Valley': 'Low Risk', 'Seal Beach': 'Risky', 'Seaside': 'Low Risk', 'Sebastopol': 'Risky', 'Selma': 'Risky', 'Shafter': 'High Risk!', 'Sierra Madre': 'Safe!', 'Signal Hill': 'High Risk!', 'Simi Valley': 'Low Risk', 'Solana Beach': 'Risky', 'Soledad': 'Safe!', 'Solvang': 'Low Risk', 'Sonoma': 'Safe!', 'Sonora': 'Risky', 'South El Monte': 'High Risk!', 'South Gate': 'Risky', 'South Lake Tahoe': 'Low Risk', 'South Pasadena': 'Risky', 'South San Francisco': 'Risky', 'Stallion Springs': 'Risky', 'Stanton': 'Low Risk', 'St. Helena': 'Risky', 'Stockton': 'Risky', 'Suisun City': 'Risky', 'Sunnyvale': 'Risky', 'Susanville': 'Low Risk', 'Sutter Creek': 'Low Risk', 'Taft': 'Risky', 'Tehachapi': 'Risky', 'Temecula': 'Risky', 'Temple City': 'Low Risk', 'Thousand Oaks': 'Low Risk', 'Tiburon': 'Low Risk', 'Torrance': 'Low Risk', 'Tracy': 'Safe!', 'Truckee': 'Safe!', 'Tulare': 'Low Risk', 'Tulelake': 'Safe!', 'Turlock': 'Low Risk', 'Tustin': 'Risky', 'Twentynine Palms': 'Risky', 'Ukiah': 'Low Risk', 'Union City': 'Risky', 'Upland': 'Low Risk', 'Vacaville': 'Low Risk', 'Vallejo': 'Low Risk', 'Ventura': 'Safe!', 'Vernon': 'EXTREME RISK! DO NOT BOOK!', 'Victorville': 'Low Risk', 'Villa Park': 'Low Risk', 'Visalia': 'Safe!', 'Vista': 'Safe!', 'Walnut': 'Low Risk', 'Walnut Creek': 'Risky', 'Waterford': 'Low Risk', 'Watsonville': 'Low Risk', 'Weed': 'Risky', 'West Covina': 'Low Risk', 'West Hollywood': 'Very High Risk!!', 'Westlake Village': 'Risky', 'Westminster': 'Risky', 'West Sacramento': 'High Risk!', 'Wheatland': 'Low Risk', 'Whittier': 'Low Risk', 'Wildomar': 'Risky', 'Williams': 'Low Risk', 'Willits': 'Low Risk', 'Windsor': 'Low Risk', 'Winters': 'Low Risk', 'Woodlake': 'Low Risk', 'Woodland': 'Risky', 'Yorba Linda': 'Risky', 'Yountville': 'Low Risk', 'Yreka': 'Risky', 'Yuba City': 'Low Risk', 'Yucaipa': 'Low Risk', 'Yucca Valley': 'Risky'}

In [37]:
with open("safetyRatings.json", "w") as outfile:
    json.dump(jsonDict, outfile)